@font-face {
    font-family: 'NautilusPompilius';
    src: url('../confirm/fonts/NautilusPompilius.eot');
    src: url('../confirm/fonts/NautilusPompilius.woff2') format('woff2'),
    url('../confirm/fonts/NautilusPompilius.woff') format('woff'),
    url('../confirm/fonts/NautilusPompilius.ttf') format('truetype'),
    url('../confirm/fonts/NautilusPompilius.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    max-height: 1000000px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #fff;
    min-width: 1170px;
}

ol,
ul {
    list-style: none;
    display: block;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.none_det{
    display: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

input::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

input::-moz-placeholder {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

input:-ms-input-placeholder {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

input::placeholder {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

/*-=-=-=-=-=-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-=-=-=-=-*/
body{
  background: url("../confirm/body.jpg");
  background-position: center top;
  background-repeat: repeat-x;
}
.sec-1{
    padding-top: 35px;
    padding-bottom: 30px;
}

.sec-1__wrap{
    position: relative;
}

.sec-1__countdown:after{
    content: "";
    display: block;
    width: 208px;
    height: 249px;
    background: url("../confirm/fruits.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -80px;
}

.sec-1__title {
    font-family: 'NautilusPompilius';
    font-size: 50px;
    line-height: 1.58;
    color: #c10000;
    padding-left: 20px;
    width: 495px;
}

.sec-1__subtitle{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 25px;
}

.sec-1__gift{
    font-family: 'NautilusPompilius';
    font-size: 55px;
    color: #2e2e2e;
    padding-left: 120px;
    position: relative;
}

.sec-1__gift:before{
    content: "";
    display: block;
    width: 77px;
    height: 86px;
    background: url("../confirm/gift.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 38px;
    top: -24px;
}

.sec-1__discount{
    font-family: 'NautilusPompilius';
    font-size: 76.5px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #c10000;
    padding-left: 40px;
}

.sec-1__foot{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.13;
    color: #c10000;
    padding-left: 40px;
}

.sec-1__info{
    width: 490px;
    background-color: #ffffff;
    box-shadow: 0 0 7.6px 0.4px rgba(96, 65, 21, 0.18);
    -webkit-box-shadow: 0 0 7.6px 0.4px rgba(96, 65, 21, 0.18);
    -moz-box-shadow: 0 0 7.6px 0.4px rgba(96, 65, 21, 0.18);
    border: solid 1px #e0e0e0;
    padding:22px 0px 22px 28px;
    margin-left: 65px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.info__text{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #162e3a;
}

.sec-1__countdown{
    margin-top: 40px;
}

.countdown__title{
    font-size: 26.6px;
    font-weight: 500;
    color: #353535;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.countdown__title span{
    color: #c10000;
}

.countdown__desc{
    font-size: 18px;
    font-weight: 500;
    color: #353535;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.countdown__item {
    float: left;
}

.countdown__item:nth-child(2){
    margin: 0 22px;
    position: relative;
}

.countdown__item:nth-child(2):before{
    content: ":";
    display: block;
    font-size: 70px;
    color: #2f2f2f;
    position: absolute;
    top: 0;
    left: -19px;
}

.countdown__item:nth-child(2):after{
    content: ":";
    display: block;
    font-size: 70px;
    color: #2f2f2f;
    position: absolute;
    right: -19px;
    top: 0;
}

.countdown__block{
    font-size: 70px;
    color: #2f2f2f;
    width: 128px;
    height: 83px;
    background: url("../confirm/countdown.png");
    background-repeat: no-repeat;
    padding-left: 13px;
    padding-top: 4px;
    letter-spacing: 25px;
}

.countdown__cap{
    font-size: 17.5px;
    font-weight: 500;
    color: #353535;
    text-align: center;
    padding-top: 14px;
    text-transform: uppercase;
}

.sec-2{
    margin-bottom: 24px;
}
.sec-2__left{
    width: 60%;
    float: left;
    padding: 19px 50px 19px 175px;
    background-image: linear-gradient(to top, #109b02 4%, #14b404 45%, #15bd04 67%);
    background-image: -webkit-linear-gradient(to top, #109b02 4%, #14b404 45%, #15bd04 67%);
    background-image: -moz-linear-gradient(to top, #109b02 4%, #14b404 45%, #15bd04 67%);
    font-size: 27px;
    line-height: 1.21;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    position: relative;
}

.sec-2__left:before{
    content: "";
    display: block;
    width: 133px;
    height: 133px;
    background: url("../confirm/hit.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: -15px;
}

.sec-2__right{
    width: 40%;
    float: left;
    padding: 36px 24px;
    background-image: linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    background-image: -webkit-linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    background-image: -moz-linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    border-top-right-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-top-right-radius: 50px;
}

.sec-3{
    padding-bottom: 50px;
}

.sec-3__list{
    display: block;
    margin: 0 22px;
}

.sec-3__item{
    width: 320px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 5px 21px 0 rgba(177, 177, 177, 0.43);
    -webkit-box-shadow: 0 5px 21px 0 rgba(177, 177, 177, 0.43);
    -moz-box-shadow: 0 5px 21px 0 rgba(177, 177, 177, 0.43);
    padding: 20px 0;
    float: left;
	min-height: 820px;
}

.sec-3__item--phytolife .sec-3__price {
	margin-top: 25px;
}

.sec-3__item:last-child{
    float: right;
}

.sec-3__item:nth-child(2){
    margin-left: 65px;
}

.sec-3__title{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.28;
    color: #353535;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.sec-3__title_gel{
    padding-left: 87px;
}

.sec-3__title_gel:before{
    content: "";
    display: block;
    width: 35px;
    height: 46px;
    background: url("../confirm/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -3px;
    position: absolute;
    left: 35px;
    top: 0;
}

.sec-3__title_sauna{
    padding-left: 113px;
}

.sec-3__title_sauna:before{
    content: "";
    display: block;
    width: 72px;
    height: 47px;
    background: url("../confirm/sprite.png");
    background-repeat: no-repeat;
    background-position: -47px 0px;
    position: absolute;
    left: 25px;
    top: 0;
}

.sec-3__title_book{
    padding-left: 107px;
}

.sec-3__title_book:before{
    content: "";
    display: block;
    width: 50px;
    height: 47px;
    background: url("../confirm/sprite.png");
    background-repeat: no-repeat;
    background-position: -132px 0px;
    position: absolute;
    left: 35px;
    top: 0;
}

.sec-3__subtitle{
    background-color: #3bb22f;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 0;
}

.sec-3__img{
    display: block;
    margin: 0 auto;
}

.sec-3__img.none_det{
    display: none;
}

.sec-3__left{
    text-align: center;
    color: #2c2c2c;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 25px;
}

.sec-3__left span{
    font-weight: 900;
    color: #dc1029;
}

.sec-3__desc{
    color: #262626;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 20px;
    position: relative;
    min-height: 40px;
}

.sec-3__desc:before{
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background: url("../confirm/arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 13px;
    top: 1px;
}

.sec-3__price{
    padding-top: 5px;
}

.price__title{
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
}

.price__title span{
}

.price__old{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.09;
    color: #7c7c7c;
    text-transform: uppercase;
    width: 50%;
    float: left;
    text-decoration: line-through;
    padding-left: 20px;
}

.price__new{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.09;
    color: #d70822;
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.price__val{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.7px;
}

.price__cur{
    font-size: 20px;
    text-transform: uppercase;
}

.price__new .price__val{
    padding-left: 20px;
}

.sec-3__btn{
    display: block;
    width: 289px;
    height: 50px;
    background: #b5041b;
    background-image: linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    background-image: -webkit-linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    background-image: -moz-linear-gradient(to top, #b5041b 4%, #d70621 45%, #e1031f 67%);
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-top-right-radius: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.sec-3__btn:hover, .sec-3__btn:focus{
    background-image: none;
    -webkit-background-image: none;
    -moz-background-image: none;
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
        min-width: 320px;
        background-position: center -65px;
    }
    .none_mob{
        display: none;
    }
    .none_det{
        display: block;
    }
    .container{
        width: 320px;
        padding: 0 10px;
    }
    .left,.right{
        float: none;
    }
    .sec-1{
        padding-top: 9px;
        padding-bottom: 7px;
    }
    .sec-1__title{
        font-size: 33px;
        padding-left: 0;
        width: inherit;
    }
    .sec-1__subtitle{
        display: none;
    }
    .sec-1__gift{
        display: none;
    }
    .sec-1__discount{
        font-size: 40px;
        padding-left: 95px;
    }
    .sec-1__discount:before {
        content: "";
        display: block;
        width: 44px;
        height: 50px;
        background: url(../confirm/gift-2.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 35px;
        top: 10px;
    }
    .sec-1__foot{
        font-size: 18px;
        line-height: 1.22;
        padding-left: 0;
    }
    .sec-1__info{
        width: 295px;
        margin: 0 auto;
        padding: 13px;
    }
	.sec-3__item {
		min-height: auto;
	}
    .info__text{
        font-size: 15px;
    }
    .sec-1__countdown{
        margin-top: 5px;
    }
    .countdown__title{
        font-size: 12px;
        padding-bottom: 5px;
    }
    .countdown__desc{
        font-size: 8px;
        margin-bottom: 7px;
    }
    .countdown__block{
        width: 56px;
        height: 37px;
        background: url("../confirm/countdown-mob.png");
        background-repeat: no-repeat;
        letter-spacing: 12px;
        font-size: 29px;
        padding-left: 6px;
    }
    .countdown__cap{
        font-size: 8px;
        padding-top: 8px;
    }
    .countdown__item:nth-child(2){
        margin: 0px 10px;
    }
    .countdown__item:nth-child(2):before {
        content: ":";
        display: block;
        font-size: 30px;
        color: #2f2f2f;
        position: absolute;
        top: 0;
        left: -8px;
    }
    .countdown__item:nth-child(2):after {
        content: ":";
        display: block;
        font-size: 30px;
        color: #2f2f2f;
        position: absolute;
        top: 0;
        right: -8px;
    }
    .sec-1__countdown:after{
        width: 110px;
        height: 131px;
        background: url("../confirm/fruits-mob.png");
        background-repeat: no-repeat;
        bottom: -40px;
    }
    .sec-2{
        display: none;
    }
    .sec-3{
        padding-bottom: 30px;
    }
    .sec-3__list{
        margin: 0;
    }
    .sec-3__item:nth-child(2){
        margin: 0;
        margin-bottom: 13px;
    }
    .sec-3__item:last-child{
        margin-bottom: 0;
        float: none;
    }
    .sec-3__item{
        width: 300px;
        float: none;
        margin: 0 auto;
        margin-bottom: 13px;
        padding-top: 12px;
        position: relative;
        padding-bottom: 15px;
		min-height: auto;
    }
    .sec-3__img.none_det{
        display: block;
    }
    .sec-3__img_turbo{
        position: absolute;
        top: 10px;
        left: 6px;
    }
    .sec-3__img_sauna{
        position: relative;
        top: 20px;
        left: 4px;
		margin-bottom: 5px;
    }
    .sec-3__title{
        padding-bottom: 13px;
        font-size: 17px;
    }
    .sec-3__title_gel{
        padding-left: 107px;
    }
    .sec-3__title_gel:before{
        left: 65px;
    }
    .sec-3__subtitle{
        padding: 14px 0;
        text-align: left;
        padding-right: 0;
        padding-left: 80px;
        font-size: 14px;
    }
    .sec-3__left{
        font-size: 18px;
        padding-top: 14px;
        margin-bottom: 15px;
    }
    .sec-3__desc{
        font-size: 16px;
        min-height: inherit;
        margin-bottom: 10px;
    }
    .sec-3__title_sauna:before{
        background-position: -47px 0px;
        position: absolute;
        left: 64px;
        top: 0;
    }
    .sec-3__title_sauna {
        padding-left: 145px;
    }
    .sec-3__title_book {
        padding-left: 125px;
    }
    .sec-3__title_book:before{
        left: 71px;
    }
    .sec-3__img_book{
        position: relative;
        top: 12px;
        left: 5px;
    }
    .price__title{
        font-size: 12px;
    }
    .price__old, .price__new{
        text-align: center;
    }
    .price__old{
        padding-left: 0;
    }
    .sec-3__btn{
        margin-top: 15px;
    }
}
